@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* first page styles below */
.first_page {
  min-height: 100vh;
  background: url("./img/skydroneimg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.first_page-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  padding: 24px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  z-index: 100;
}

.logo_block {
  height: 45px;
  width: auto;
  display: flex;
  padding: 0px 8.326px;
  align-items: center;
  gap: 4px;
}

.text_for_logo {
  color: #393939;
  font-family: Raleway;
  font-size: 30.062px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.navbar_items {
  width: 455px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.navbar_item1 {
  width: 51px;
  height: 24px;
  color: #4b4b4b;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  justify-content: center;
}
.navbar_item1:hover {
  border-bottom: 2px solid orange;
  scale: 1.1;
  cursor: pointer;
}
.navbar_item1:active {
  color: orange;
  scale: 0.9;
}

.navbar_item2 {
  width: 65px;
  height: 24px;
  color: #4b4b4b;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  justify-content: center;
}
.navbar_item2:hover {
  border-bottom: 2px solid orange;
  scale: 1.1;
  cursor: pointer;
}
.navbar_item2:active {
  color: orange;
  scale: 0.9;
}

.navbar_item3 {
  width: 110px;
  height: 24px;
  color: #4b4b4b;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  justify-content: center;
}
.navbar_item3:hover {
  border-bottom: 2px solid orange;
  scale: 1.1;
  cursor: pointer;
}
.navbar_item3:active {
  color: orange;
  scale: 0.9;
}

.navbar_item4 {
  width: 85px;
  height: 24px;
  color: #fff;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  display: flex;
  justify-content: center;
}

.block_for_item4 {
  width: 133px;
  height: 48px;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  border: 1px solid #c4730a;
  background: #c4730a;
}
.block_for_item4:hover {
  scale: 1.1;
  cursor: pointer;
}
.block_for_item4:active {
  scale: 0.9;
}

.ellipse_image {
  display: flex;
  height: 753px;
  z-index: 90;
}

.image_text_block {
  display: flex;
  width: 560px;
  height: 272px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  position: absolute;
  left: 64px;
  top: 200px;
}

.image_text_block-title {
  width: 100%;
  height: 116px;
  align-self: stretch;
  color: #4b4b4b;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.48px;
}
.image_text_block-text {
  width: 100%;
  height: 60px;
  align-self: stretch;
  color: #612b00;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.image_text_block-button {
  width: 133px;
  height: 48px;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #df8928;
  border-color: #df8928;
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.image_text_block-button:hover {
  scale: 1.1;
  cursor: pointer;
}
.image_text_block-button:active {
  scale: 0.9;
}
/* first page styles up*/

/* second page styles below*/

.second_page {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.second_page_body {
  width: 1312px;
  height: 451px;
  margin: 128px 64px 64px;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.second_page_body-title {
  width: 560px;
  height: 34px;
  color: #4b4b4b;
  text-align: center;

  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.24px;

  margin-bottom: 48px;
}

.second_page_body-logo_block1 {
  width: 100%;
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}

.second_page_logo1 {
  display: flex;
  width: 184.612px;
  height: 184.612px;
  padding: 0px 18.388px 0px 19.225px;
  justify-content: center;
  align-items: center;
}
.second_page_logo2 {
  display: flex;
  width: 184.612px;
  height: 184.612px;
  justify-content: center;
  align-items: center;
}
.second_page_logo3 {
  display: flex;
  width: 184.612px;
  height: 184.612px;
  justify-content: center;
  align-items: center;
}
.second_page_logo4 {
  display: flex;
  width: 184.612px;
  height: 184.612px;
  justify-content: center;
  align-items: center;
}

.second_page_body-logo_block2 {
  width: 100%;
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}

.second_page_logo5 {
  display: flex;
  width: 184.612px;
  height: 184.612px;
  justify-content: center;
  align-items: center;
}
.second_page_logo6 {
  display: flex;
  width: 184.612px;
  height: 184.612px;
  justify-content: center;
  align-items: center;
}
.second_page_logo7 {
  display: flex;
  width: 184.612px;
  height: 184.612px;
  padding-right: 0px;
  justify-content: center;
  align-items: center;
}

.second_page_footer {
  width: 100%;
  height: 82px;
  background: #f3f3f3;
  display: flex;
  align-items: center;

  padding: 24px 0px;
  flex-direction: column;
  justify-content: center;
}

.second_page_footer-items {
  width: 1098px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  background-color: #f3f3f3;
}

.second_page_footer-item1 {
  color: #5e5e5e;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.24px;
}
.second_page_footer-item2 {
  color: #5e5e5e;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.24px;
}
.second_page_footer-item3 {
  color: #5e5e5e;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.24px;
}
.second_page_footer-item4 {
  color: #5e5e5e;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.24px;
}
.second_page_footer-item5 {
  color: #5e5e5e;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.24px;
}
/* second page styles up*/

/* third page styles below*/

.third_page {
  width: 100%;
  max-height: 100vh;
  background-color: #fff;
  display: flex;
  padding: 160px 64px 64px 64px;
  align-items: center;
  gap: 80px;
}

.img_on_third_page {
  width: 616px;
  height: 640px;
}

.third_page-first_block {
  width: 616px;
  height: 640px;

  display: flex;
  align-items: start;
}
.third_page-second_block {
  width: 616px;
  height: 640px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.third_page-second_block-title_block {
  align-self: stretch;
  color: #df8928;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.third_page-second_block-text_block {
  align-self: stretch;
  color: #4b4b4b;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.48px;
  margin-bottom: 32px;
}

.conteiner_for_eddition_blocks {
  width: 616px;
  height: 242px;

  display: flex;
  padding: 8px 0px;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.third_page-second_block-eddition_block1 {
  width: 296px;
  height: 226px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}
.third_page-second_block-eddition_block2 {
  width: 296px;
  height: 226px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

.circle_icon1 {
  width: 48px;
  height: 48px;
}
.third_page-second_block-eddition_block1-title {
  align-self: stretch;
  color: #4b4b4b;

  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.24px;
}
.third_page-second_block-eddition_block1-text {
  align-self: stretch;
  color: #4b4b4b;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.circle_icon2 {
  width: 48px;
  height: 48px;
}
.third_page-second_block-eddition_block2-title {
  align-self: stretch;
  color: #4b4b4b;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.24px;
}
.third_page-second_block-eddition_block2-text {
  align-self: stretch;
  color: #4b4b4b;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
/* third page styles up*/

/* fourth page styles below*/

.fourth_page {
  width: 100%;
  height: 60vh;
  background-color: #fff;
  display: flex;
  width: 1440px;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.conteiner_for_fourth_page {
  width: 1312px;
  height: 294px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}

.conteiner_for_fourth_page-block1 {
  width: 405px;
  height: 294px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
}

.conteiner_for_fourth_page-block1-miniblock1 {
  width: 300px;
  height: 120px;
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.conteiner_for_fourth_page-block1-miniblock1-title1 {
  width: 100%;
  height: 24px;
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.conteiner_for_fourth_page-block1-miniblock1-title2 {
  width: 100%;
  height: 24px;
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.conteiner_for_fourth_page-block1-text_block1 {
  width: 100%;
  height: 150px;

  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
/* fourth page styles up*/

/* fifth page styles below*/

.fifth_page {
  width: 100%;
  height: 150vh;

  background: url("./img/fifthpagebackgroundimage.jpg") no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}

.conteiner_for_fifth_page-headblock_for_text {
  width: 100%;
  height: 120vh;
  display: flex;
  padding: 90px 64px 198px 64px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}

.fifth_page-headblock_for_text {
  width: 906px;
  height: 218px;
  display: flex;
  width: 906px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}
.fifth_page-headblock_for_text-title {
  width: 100%;
  height: 58px;
  align-self: stretch;
  color: #4b4b4b;
  text-align: center;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.48px;
}
.fifth_page-headblock_for_text-text {
  width: 600px;
  height: 60px;
  color: #4b4b4b;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer_for_fifth_page {
  width: 100%;
  height: 30vh;
  background: linear-gradient(137deg, #d48c04 0%, #b35911 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_for_fifth_page-footer_block {
  width: 1400px;
  height: 120px;
  display: flex;
  flex-direction: row;
  gap: 320px;
}
.footer_for_fifth_page-footer_block-miniblock1 {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer_for_fifth_page-footer_block-miniblock1-title {
  height: 38px;
  width: 100%;
  color: #fcf6f0;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.32px;
}

.footer_for_fifth_page-footer_block-miniblock1-text {
  width: 100%;
  height: 60px;
  color: #fcf6f0;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer_for_fifth_page-footer_block-miniblock2 {
  width: 480px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
/* fifth page styles up*/
